# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Model artifacts
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit's temporary files
.streamlit/

# VS Code and editor config
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Python virtual environment
env/
venv/
ENV/
